USE [master]
GO
/****** Object:  Database [SecA]    Script Date: 2/7/2023 6:26:39 PM ******/
CREATE DATABASE [SecA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SecA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SecA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecA]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2/7/2023 6:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[ID] [int] NULL,
	[S_Name] [varchar](20) NULL,
	[Department] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
